* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box; /*content-box = a medida (100 por 100) se aplica somente ao conteudo, nao leva em consideracao a border, margin, padding*/
    /*border-box = leva em consideração o conteúdo, padding, border, margin. A margin sempre fica fora da caixa, e é usada para separar duas caixas/elementos na página*/
}

body {
    height: 100vh;
    margin: 0px;
    display: grid; /*Grid = definir linhas e colunas e colocar os elementos dentro dessas linhas e colunas*/
    grid-template-rows: 120px 1fr 60px; /*3 linhas = cabeçalho 120px, conteudo 1fr(fragmento ocupa de forma relativa), footer 60px*/
    grid-template-columns: 1fr; /*Uma coluna, vai ocupar a tela inteira*/
    grid-template-areas: 
        "cabecalho"
        "principal" 
        "rodape"; /*define as areas que seram ocupadas, utiliza o nome definido no grid-area*/
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: white;
    display: flex; /*por padrão os elementos ficam na mesma linha só com o flex*/
    flex-direction: column; /*muda a direção do flex, com os column os elementos ficam no eixo da coluna. row-reverse = troca a ordem dos elementos e alinha do lado direito. column-reverse = troca a ordem dos elementos e coloca elementos no eixo da coluna e embaixo*/
    /*O flex-direction é a propriedade que define qual é o eixo principal (main axis) e secundário (cross axis)*/   
    justify-content: center; /*aplica o alinhamento no conteiner do flex em cima do eixo principal. flex-end = final do eixo principal. Alinha o eixo principal (coluna) com o final. flex-start = alinha os elementos em cima. center = centraliza os elementos. space-between = espaço entre os dois elementos. space-around = deixa espaço em cima e embaixo e entre os elementos. space-between = somente espaço entre os dois elementos. Alinha elementos no main axis*/
    align-items: center; /*alinha itens no cross axis*/
    padding-bottom: 10px;
    z-index: 1; /*deixa o elemento acima dos outros*/
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75); /*faz uma sombra no box/elemento*/
}   

.cabecalho > h1 {
    margin: 10px;
    font-weight: 300;
    font-size: 2.8rem; 
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem; 
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px); /*180px é o tamanho do header e do footer, logo vai ocupa o restante da area */
    background-color: #f0f0f0;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll; /*overflow-y: scroll -> habilita a barra de rolagem*/
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2); 
}

.rodape {
    grid-area: rodape;
    background-color: #fff;
    /*position: sticky; /*manter o rodapé parado, sempre visivel*/
   /* bottom: 0px;*/
    display: flex;
    justify-content: flex-end; /*está mexendo com o main axis (por padrão é uma linha)*/
    align-items: center; /*alinhar o cross axis , centralizar*/
    font-size: 1.2em;
    padding: 0px;
    color: #444;
    position: sticky; /*rodape fica sempre aparecendo/grudado com o position: sticky*/
    bottom: 0;;
}

.modulos {
    display: flex;
    flex-wrap: wrap; /*quebra linha*/
    justify-content: space-around; /*deixa espaço entre os elementos (lado esquerdo e direito)*/
}

.modulo {
    flex-basis: 32%; /*define o tamnanho que o elemento ocupa na tela*/
    margin-bottom: 10px; /*define uma margem na parte de baixo*/
    border-radius: 5px; /*arredonda as bordas*/
}

.modulo > h3 {
    margin: 0; /*sem/tirou toda  margem*/
    color:#fff;
    font-weight: 300;
    font-size: 1.5em;
    padding: 10px 20px; /*10px no eixo vertical e 20px no eixo horizontal*/
    background-color: #1867c0;
}   

.modulo > ul {
    margin: 0px; /*sem/tirou toda  margem*/
    padding: 10px; /*padding de 10px em todas direções*/
    list-style: none; /*remove os marcadores de bolinha da lista*/
}

.modulo > ul > li {
    padding: 7px;
    font-size: 1.2em;
    cursor: pointer; /*quando passa o mouse em cima dos links (li) ele simboliza que é um link*/
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none; /*tira a decolação do texto, no caso o sublinhado*/
    color: #222;
}

.modulo > ul > li:hover { /*hover = quando passa o mouse por cima exibe um efeito, no caso quando passa o mouse exibe a cor cinza de fundo*/
    background-color: #EEE;
}

.modulo.verde { border: 2px solid #4caf50;}
.modulo.verde > h3 {background-color: #4caf50;}

.modulo.vermelho { border: 2px solid #f44336;}
.modulo.vermelho > h3 {background-color: #f44336;}

.modulo.azul { border: 2px solid #2196f3;}
.modulo.azul > h3 {background-color: #2196f3;}

.modulo.roxo { border: 2px solid #9C27B0;}
.modulo.roxo > h3 {background-color: #9C27B0;}

.modulo.laranja { border: 2px solid #FF9800;}
.modulo.laranja > h3 {background-color: #FF9800;}

.modulo.verde-escuro { border: 2px solid #1B5E20;}
.modulo.verde-escuro > h3 {background-color: #1B5E20;}

.modulo.vermelho-escuro { border: 2px solid #b71c1c;}
.modulo.vermelho-escuro > h3 {background-color: #b71c1c;}

.modulo.azul-escuro { border: 2px solid #0d47a1;}
.modulo.azul-escuro > h3 {background-color: #0d47a1;}

.modulo.roxo-escuro { border: 2px solid #4a148c;}
.modulo.roxo-escuro > h3 {background-color: #4a148c;}